# Dataframe

In [2]:
using DataFrames

In [34]:
data = Dict("name"=>["David", "Jose", "Josep", "Ilia", "David"],
            "age"=>[ 10., 20., 32., 60., 5.])

Dict{String,Any} with 2 entries:
  "name" => String["David","Jose","Josep","Ilia","David"]
  "age"  => [10.0,20.0,32.0,60.0,5.0]

Construct dataframe from dictionary

In [35]:
df = DataFrame(data)

5×2 DataFrames.DataFrame
│ Row │ age  │ name    │
├─────┼──────┼─────────┤
│ 1   │ 10.0 │ "David" │
│ 2   │ 20.0 │ "Jose"  │
│ 3   │ 32.0 │ "Josep" │
│ 4   │ 60.0 │ "Ilia"  │
│ 5   │ 5.0  │ "David" │

Select a column with **df[:colname]**

In [36]:
df[:age]

5-element DataArrays.DataArray{Float64,1}:
 10.0
 20.0
 32.0
 60.0
  5.0

Change a value from the dataframe

- by coordinate **X[i,j] = value**

In [37]:
df[3,1] = 50

50

In [42]:
df

5×2 DataFrames.DataFrame
│ Row │ age  │ name    │
├─────┼──────┼─────────┤
│ 1   │ 10.0 │ "David" │
│ 2   │ 20.0 │ "Jose"  │
│ 3   │ 50.0 │ "Josep" │
│ 4   │ 60.0 │ "Ilia"  │
│ 5   │ 5.0  │ "David" │

In [43]:
mean(df[:age])

29.0

Select subset of a column

In [69]:
df[:age][2:4]

3-element DataArrays.DataArray{Float64,1}:
 20.0
 50.0
 60.0

Select people older than 20

In [70]:
df[:name][df[:age] .>20]

2-element DataArrays.DataArray{String,1}:
 "Josep"
 "Ilia"

In [77]:
df[:name][df[:age] .>= 20]

3-element DataArrays.DataArray{String,1}:
 "Jose"
 "Josep"
 "Ilia"

In [94]:
df[:age]

5-element DataArrays.DataArray{Float64,1}:
 10.0
 20.0
 50.0
 60.0
  5.0

Subset of a dataframe with all rows of people named David

In [105]:
df[df[:name] .=="David",:]

2×2 DataFrames.DataFrame
│ Row │ age  │ name    │
├─────┼──────┼─────────┤
│ 1   │ 10.0 │ "David" │
│ 2   │ 5.0  │ "David" │

Select row of People named David and age older than 6

In [109]:
(df[:name] .=="David")&(df[:age] .> 6)

5-element DataArrays.DataArray{Bool,1}:
  true
 false
 false
 false
 false

In [107]:
df[(df[:name] .=="David")&(df[:age] .>6) ,:]

1×2 DataFrames.DataFrame
│ Row │ age  │ name    │
├─────┼──────┼─────────┤
│ 1   │ 10.0 │ "David" │

In [115]:
df[:name] .=="David"

5-element DataArrays.DataArray{Bool,1}:
  true
 false
 false
 false
  true

In [120]:
for i in 1:5
    print(df[i,1])
end

10.020.050.060.05.0

In [121]:
df[1:5,1]

5-element DataArrays.DataArray{Float64,1}:
 10.0
 20.0
 50.0
 60.0
  5.0